@import "variables";
@import "mixins";

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #000;
    background-image: url('../assets/images/spotify-logo.png');
    background-position: -30vw 5vh;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 3rem;
    font-family: "PT Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

audio {
    display: block;
    width: 100%;
}

#login {
    color: #fff;
}

#user-profile {
    color: #fff;
}

.in-progress {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    animation: in-progress-stripes 2s linear infinite;
    animation-name: in-progress-stripes;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

.drop-shadow {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    padding: 1rem;
}

.search-panel {
    font-size: 0.8em;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    b {
        font-family: "PT Sans", sans-serif;
    }
}


.playlists-container {
    margin-top: 1rem;
}

.tracks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -1rem;

    &::after {
        content: "";
        width: 100%;
        margin: 1rem 1rem 0 0;

        @include md {
            width: 47%;
        }

        @include lg {
            width: 31%;
        }
    }
}

.vue-slider-process {
    background-color: $green;
}

.vue-slider-rail {
    background-color: #3498db;
}

.multiselect__tag,
.multiselect__option--highlight,
.multiselect__option--highlight::after {
    @include yiq-contrasted($green);
}

.sliders {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;

    >div {
        flex: 0 auto;
        margin-bottom: 1rem;
        flex-basis: calc(50% - 1rem);

        @include md {
            flex-basis: calc(30% - 1rem);
        }
    }
}

@-webkit-keyframes in-progress-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes in-progress-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}