<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="x-ua-compatible" content="IE=Edge" />
  <title>Running cadence song matcher</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</head>

<body>
  <div class="container" id="app">
    <div id="login" v-if="!loggedIn">
      <h1>Running cadence song matcher</h1>
      <p>
        Sign in using spotify and start finding songs that have to right BMP to match your target running cadence!
      </p>
      <a href="/login" class="btn btn-primary">Log in with Spotify</a>
    </div>
    <div id="loggedin" v-if="loggedIn">
      <user-card v-bind:user="user"></user-card>
      <div class="panel search-panel form">
        <div class="form form-inline">
          <div class="form-group">
            <label for="minBpm">Min. BPM</label>
            <input type="number" id="minBpm" v-bind:value="searchFilter.minBpm" class="form-control" />
          </div>
          <div class="form-group">
            <label for="targetBpm">Target BPM</label>
            <input type="number" id="targetBpm" v-bind:value="searchFilter.targetBpm" class="form-control" />
          </div>
          <div class="form-group">
            <label for="maxBpm">Max. BPM</label>
            <input type="number" id="maxBpm" v-bind:value="searchFilter.maxBpm" class="form-control" />
          </div>
        </div>
        <div class="form">

          <div class="form-group">
            <label for="genres">Genres (max 5)</label>
            <select id="genres" class="form-control" v-model="searchFilter.genres" multiple required>
              <option v-for="genre in genres" v-bind:value="genre">{{genre}}</option>
            </select>
          </div>

          <div class="form-group playlists-container">
            <label for="playlists">Playlists</label>
            <select id="playlists" class="form-control" v-model="selectedPlaylistId">
              <option value="">Select a playlist to add songs to...</option>
              <option v-for="playlist in playlists" v-bind:value="playlist.id">{{playlist.name}}</option>
            </select>
          </div>
        </div>

        <button class="btn btn-info" style="margin-top: 2rem" id="searchBtn" v-on:click="getRecommendations()">
          Find Recommendations
        </button>
      </div>

      <div class="tracks">
        <spotify-track v-for="track in tracks" v-bind:track="track" v-bind:key="track.id"
          v-bind:playlistId="selectedPlaylistId" v-bind:accessToken="accessToken">
        </spotify-track>
      </div>
    </div>
  </div>
  </div>

</body>

</html>